.cardProducto {
    display: inline-block;
    background-color: rgb(252, 227, 255);
    border-style: double;
    margin: 1rem;
    padding: 1rem;
    width: fit-content;
}

.imgProducto {
    width: 20rem;
    height: 15rem;
    object-fit: contain;
}