
.contenedorItem {
    text-align: center;
    border: 1px solid #e3e1e1;
    margin: 2rem;
}

img {
    width: 20rem;
}

.button {
   background-color: darksalmon; 
   border-radius: 5%;
   border-bottom: #e3e1e1;
}